/* ------NAV---------------- */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  width: 85%;
  margin: 0 auto;
  font-size: 1.5rem;
}

.nav-links {
  font-size: 1rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
  font-weight: bold;
}

.nav-links li {
  padding-right: 4rem;
}

/* ------NAV---------------- */

/* ------HOME---------------- */
.Home {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* margin: 0 auto; */
  text-align: center;
  font-size: 3rem;
  text-decoration: none;
}

.enter-shop-btn {
  background-color: #282c34;
  color: white;
  margin-top: 1.4rem;
  font-size: 2rem;
  padding: 1rem;
}

/* ------HOME---------------- */

/* ------SHOP---------------- */

.products {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
}

/* ------SHOP---------------- */

/* ------PRODUCT---------------- */
.product {
  /* flex: 1 1 100px; */
  text-align: center;
  border: 2px solid red;
  margin: 1rem;
  /* width: 500px;
  height: 250px; */
}

/* ------PRODUCT---------------- */

/* ------ITEM-DETAILS---------------- */
.item-details form {
  display: flex;
  font-size: 2rem;
}

.item-details .product-img {
  width: 450px;
  margin-right: 3rem;
}

.product-img img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.submit-btn {
  margin-left: 0.8rem;
}

/* ------ITEM-DETAILS---------------- */

/* ------CART---------------- */
.cart-products {
  display: flex;
  flex-direction: column;
}
.cart-items {
  width: 510px;
}

.details {
  display: flex;
  justify-content: space-around;
}

.details .info {
  margin-right: 24rem;
}

/* ------CART---------------- */
